.container {
  max-width: 96rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

.inlineContainer {
  margin-left: 0rem;
}

.star--filled {
  color: #FFB100;
}

.star--empty {
  color: #FFB100;
}

.reviewsHeading {
  display: none;
}

.graphBarContainer {
  height: 28px;
  background: #e6e6e6;
  border-radius: 5px;
}

.reviewsOrderBy {
  gap: 10px;
  margin-top: 2rem;
}

.summaryTotalReviews {
  display: none;
}
