.productBrandName--summaryListDesktop {
  color: #8F8F8F;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: lowercase;
}

.productBrandName--summaryListMobile {
  color: #8F8F8F;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: 500;
  text-transform: lowercase;
}
